# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]
#*$py.class

# Virtual environment
venv/
.env/

# VSCode or PyCharm settings (optional)
.vscode/
.idea/

# System files
.DS_Store
__pycache__/Fluid.cpython-313.pyc
